
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

:root {
    --pink: #ff56ac;
    --grey: #777;
    --white: #fff;
    --black: #000;
    --red: #ff3838;
    --font: 'Raleway', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
