:root {
    --pink: #ff56ac;
    --grey: #777;
    --white: #fff;
    --black: #000;
    --red: #ff3838;
    --font: 'Raleway', Arial, sans-serif;
  }
  
  @import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
  
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    height: 130vh;
    font-family: var(--font);
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 45%;
  }

  .img-parent {
    position: relative;
    width: 100%;
    height: calc(100% / 3);
    background-color: antiquewhite;  
  }

  .topLeft {
    position: absolute;
    top: -7vh;
    left: 18vw;
    width: 30%;
    height: 45%;
    transform-origin: top left;
    transform: rotate(90deg);
  }

  .bottomRight {
    position: absolute;
    bottom: 20vh;
    right: 2vw;
    width: 30%;
    height: 45%;
    transform-origin: bottom right;
    transform: rotate(257deg);
  }

  .mediumImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }